<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="18.7.23" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="18.7.23" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Only" version="18.7.23" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.13.22" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>